<!-- <app-example></app-example>
<app-two-wayy-data-binding></app-two-wayy-data-binding>
<app-enable-button></app-enable-button>
<app-click-event></app-click-event>
<app-event-enable-button></app-event-enable-button>

<app-template-reference-variable></app-template-reference-variable> 
<app-employee-details></app-employee-details>
<app-switch-example></app-switch-example>
<app-employee-report></app-employee-report>
<app-employee-report-type2></app-employee-report-type2>
<app-angular-pipes></app-angular-pipes> 
<app-employee-details></app-employee-details>-->
<app-switch-example></app-switch-example>